@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.welcome-message{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-size: 70px;
    font-weight: bold;
    margin-top: 30px;
}

.p-home-1{
    font-size: 23px;
    font-weight: 400;
    text-align: justify;
}

.buttons-group{
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
}

.btn-buy{
    width: 150px;
    height: 40px;
    font-weight: 500;
    box-shadow: 1px 2px 3px rgb(179, 186, 195) !important;
}

.btn-singin{
    width: 120px;
    font-weight: 500;
}